* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Figtree;
}
body {
  background-color: #f8d44c;
  .box {
    width: 390px;
    height: 540px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 10px 7px 0px black;
    .images {
      position: absolute;
      margin: 5% 7%;
      img {
        border-radius: 10px;
      }
    }
    .text {
      margin: 65% 7%;
      .title {
        span {
          background-color: #f8d44c;
          font-weight: bold;
          width: 90px;
          height: 200px;
          padding: 7px 15px;
          border-radius: 5px;
          font-size: 14px;
        }
        p {
          padding: 8% 0;
          font-weight: 600;
        }
      }
      .detail {
        h1 {
          font-weight: 800;
          font-size: 25px;
          padding-bottom: 5%;
        }
        p {
          color: rgb(94, 94, 94);
          font-weight: 500;
        }
        .avatar {
          display: flex;
          position: absolute;
          /* width: 250px; */
          margin-top: 7%;
          img {
            max-width: 40px;
          }
          span {
            padding: 5% 5%;
            width: 200px;
            font-weight: 900;
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (min-widh: 390px) {
  .box {
    width: 250px;
    height: 400px;
  }
}
